[submodule "synthesis/pdk/globalfoundries-pdk-libs-gf180mcu_fd_sc_mcu9t5v0"]
	path = synthesis/pdk/globalfoundries-pdk-libs-gf180mcu_fd_sc_mcu9t5v0
	url = https://github.com/atsmith3/globalfoundries-pdk-libs-gf180mcu_fd_sc_mcu9t5v0.git
